DATABASE_URL=
PORT=8080
ALLOWED_ORIGINS=http://localhost:3000
JWT_SECRET=soemthingsecaret
JWT_EXPIRES_IN=7d
NODE_ENV=development

SESSION_SECRET=some_long_random_string_here

NGROK_LINK=https://luise-impalpable-kaylin.ngrok-free.dev
NGROK_VERIFY_TOKEN=

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=
TIKTOK_WEBHOOK_SECRET=your_webhook_secret

META_APP_ID=
META_APP_SECRET=
META_USER_ACCESS_TOKEN=soemthing-is-here
META_REDIRECT_URI=
META_VERIFY_TOKEN=your_custom_webhook_token

WHATSAPP_API_TOKEN=system_user_token_from_meta_business
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
