DATABASE_URL=
PORT=8080
ALLOWED_ORIGINS=http://localhost:3000
BASE_URL=http://localhost:8080
JWT_SECRET=soemthingsecaret
BETTER_AUTH_SECRET=generate_with_openssl_rand_base64_32
JWT_EXPIRES_IN=7d
NODE_ENV=development

SESSION_SECRET=some_long_random_string_here

NGROK_LINK=https://luise-impalpable-kaylin.ngrok-free.dev
NGROK_VERIFY_TOKEN=

TIKTOK_CLIENT_KEY=
TIKTOK_CLIENT_SECRET=
TIKTOK_REDIRECT_URI=http://localhost:8080/oauth/tiktok/callback
TIKTOK_WEBHOOK_SECRET=your_webhook_secret

META_APP_ID=
META_APP_SECRET=
META_USER_ACCESS_TOKEN=soemthing-is-here
# Base redirect URI - platform-specific paths are appended automatically (/facebook, /instagram, /whatsapp)
META_REDIRECT_URI=http://localhost:8080/oauth/meta/callback
META_VERIFY_TOKEN=your_custom_webhook_token

WHATSAPP_API_TOKEN=system_user_token_from_meta_business
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=true
MINIO_BUCKET_NAME=
MINIO_PUBLIC_URL=
